/*
Projeto referente a 3ª nota da disciplina LINGUAGENS DE SCRIPT, lecionada pelo Prof. Luiz Carlos Chaves.
O objetivo do projeto consiste em desenvolver um site web utilizando principalmente JS, para
por em prática os conhecimentos teóricos vistos em sala de aula.
Autora: Samyra Lara
Última data de modificação: 03/10/13;
*/

.ddsmoothmenu{
	margin-top: 20px
}

.ddsmoothmenu ul{
	z-index:100;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*op item da lista de nível*/
.ddsmoothmenu ul li{
	position: relative;
	display: inline;
	float: left;
}

/*Nível superior link menu itens estilo*/
.ddsmoothmenu ul li a {
	display: block;
	height: 23px;
	width: 74px;
	margin-left: 5px;
	line-height: 23px;
	font-size: 13px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #0a1e3c;	
	text-align: center;
	text-decoration:none;
	font-weight: 400;
	outline: none;
}

* html .ddsmoothmenu ul li a{ 
display: inline-block;
}

.ddsmoothmenu ul li a.selected, .ddsmoothmenu ul li a:hover { /* Classe CSS que é dinamicamente adicionado ao LI dos itens de menu atualmente ativos*/
	color: #7ca7e8;
	background: url(../images/templatemo_menu_hover.png)
}

/*1st sub level menu*/
.ddsmoothmenu ul li ul {
	position: absolute;
	width: 160px;
	margin: 10px 0 0 5px;
	left: 0;
	display: none; /*recolher todos os sub-menus para começar*/
	visibility: hidden;
	background: url(../images/templatemo_smm.png) repeat-y
}

.ddsmoothmenu ul li ul span.top { position: absolute; width: 160px; height: 5px; top: -5px; left: 0;  background: url(../images/templatemo_smt.png) no-repeat; }
.ddsmoothmenu ul li ul span.bottom { position: absolute; width: 160px; height: 5px; bottom: -5px; left: 0;  background: url(../images/templatemo_smb.png) no-repeat; }

/*Submenu itens da lista de nível (desfazer estilo da lista de itens de nível superior)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
}

/*Todos os níveis de submenu subseqüentes deslocamento vertical após a primeira sub menu de nível */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub nível de menu ligações estilo */
.ddsmoothmenu ul li ul li a{
	font-weight: 500;
	width: 140px; /*largura da sub-menus*/
	height: 28px;
	line-height: 28px;
	margin: 0 10px;
	font-size: 12px;
	text-align: left;
	background: none;
	color: #b1d7e6;
	border-bottom: 1px solid #151515
}

.ddsmoothmenu ul li ul li .last {
	border-bottom: none;
}

.ddsmoothmenu ul li ul li a.selected, .ddsmoothmenu ul li ul li a:hover {
	color: #cee574;
	width: 129px;
	margin-left: 11px;
	background: none;
}

* html .ddsmoothmenu{height: 1%;} 


.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}


.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
}

.toplevelshadow{ 
opacity: 0.5;
}
